.profile-image {
  margin: 25px;
  width: 85%;
  height: 85%;
}

/* 0 on the top and bottom */
/* 25px on the left and right */
.panel-body {
  padding: 0 25px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}