<div *ngIf="!registerMode" style="text-align:center">
  <h1>
    Find your match!
  </h1>
  <p class="lead"> Come on in to view your matches... All you need to do is sign up!</p>
  <div class="text center">
    <!-- el register toggle es el que muestra el componente hijo -->
    <button class="btn btn-primary btn-lg" (click)="registerToggle()">Register</button>
    <button class="btn btn-info btn-lg">Learn more</button>
  </div>
</div>

<!-- aqui se elvalua con un ngif si resulta true entonces se mostrar el contenido html -->
<div *ngIf="registerMode" class="container">
  <div class="col-md-4 col-md-offset-4">
    <!-- from parent to child -->
    <!-- out part 3 cancel Register -->
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>
